.mai-locations-sortable ul.acf-checkbox-list > li {
	display: grid;
	grid-template-columns: 1fr 40px;
	align-items: center;
	height: 34px;
	background: #fff;
	border: 1px solid #7e8993;
	border-radius: 2px;
}

.mai-locations-sortable ul.acf-checkbox-list > li + li {
	margin-top: 6px;
}

.mai-locations-sortable ul.acf-checkbox-list > li label {
	padding: 4px 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mai-locations-sortable ul.acf-checkbox-list > li label input {
	margin-right: 8px;
	vertical-align: text-bottom;
}

.mai-locations-sortable ul.acf-checkbox-list > li i {
	font-style: normal;
}

.mai-locations-sortable ul.acf-checkbox-list > li.sortable-checkbox-placeholder {
	height: 34px;
	background: #f1f1f1;
	border: 1px solid #ccd0d4;
}

.mai-locations-sortable ul.acf-checkbox-list .mai-locations-sortable-handle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	cursor: grab;
}

.mai-locations-sortable ul.acf-checkbox-list > li svg {
	width: 16px;
	fill: currentColor;
}