.mailocations-map {
	aspect-ratio: 16/9;
}

.mailocations-map img {
	max-width: inherit !important;
}

.mailocations-filter-list {
	list-style-type: none;
	margin: 0;
}

.mailocations-filter-list li {
	margin: 0;
}

.mailocations-filter-list label {
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
}

.mailocations-autocomplete-container {
	display: grid;
	grid-template-columns: 1fr auto auto;
	gap: 8px;
}

.mailocations-autocomplete-input-container {
	position: relative;
}

.mailocations-autocomplete-container select {
	height: 100%;
}

.mailocations-autocomplete:placeholder-shown + .mailocations-autocomplete-clear {
	display: none;
}

.mailocations-autocomplete-clear,
.mailocations-autocomplete-clear:hover,
.mailocations-autocomplete-clear:focus {
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	margin: 0;
	padding: 8px;
	background: rgba(255, 255, 255, 0.9);
	color: red;
	letter-spacing: .5px;
	font-variant: all-small-caps;
	border: 0;
}

.wp-block .mailocations-autocomplete-container,
.wp-block .mailocations-filter,
.wp-block .mailocations-filter-list {
	pointer-events: none;
}